@font-face {
  font-family: shrikhand;
  src: url(../font/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(../font/Roboto-Black.ttf);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: relative;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: roboto;
}

header h1 {
  margin: 0;
  font-family: shrikhand;
  text-align: center;
  width: 100%;
  height: 100%;
}

.chargement {
  /*Creation du loader*/
  border: 10px solid #f3f3f3;
  border-top: 10px solid pink;
  border-bottom: 10px solid blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* placement loader au milieux de la page*/
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/*animation du loader*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  margin: 0px;
}

.logo {
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
  padding: 10px;
  position: relative;
}

.lieu {
  background-color: #d3d3d387;
  text-align: center;
  padding: 20px;
  font-family: roboto;
}

.fa-map-marker-alt {
  margin-right: 15px;
}

#conteneur-description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteneur-description h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: roboto;
  margin-left: 50px;
  margin-right: 50px;
}

#conteneur-description p {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: roboto;
  background-color: "F2F2F2";
  margin-left: 50px;
  margin-right: 50px;
}

.rechercher {
  background-color: #a5498b;
  color: white;
  border-radius: 30px;
  padding: 15px 20px  15px 20px;
  font-size: 20px;
  -webkit-box-shadow: 4px 4px 4px #808080a8;
          box-shadow: 4px 4px 4px #808080a8;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.rechercher:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

#conteneur-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  font-family: roboto;
}

.bouton-fonctionnement {
  border: 3px #f2f2f2 solid;
  background-color: #f2f2f2;
  text-align: left;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 3px lightgray;
          box-shadow: 3px 3px 3px lightgray;
  padding: 15px;
  font-family: roboto;
  margin: 10px;
}

.icone-fonctionnement {
  color: #7e7e7e;
  margin-right: 10px;
}

.bouton-fonctionnement:hover {
  background-color: #f5edff;
}

.fonctionnement1 {
  position: absolute;
  margin-left: -2.2rem;
  height: 1.75rem;
  width: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  color: white;
}

.list-resto {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.list-resto a {
  text-decoration: none;
}

.list-resto h2 {
  font-family: roboto-black;
  padding-top: 45px;
  padding-left: 20px;
  margin-bottom: 0;
}

.list-resto #conteneur-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-resto #conteneur-restaurants .carte-resto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list-resto .element-carte {
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-resto .element-carte img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.list-resto .element-carte .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  font-family: roboto;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.list-resto .element-carte .description h3 {
  margin: 0;
  padding-left: 10px;
  padding-top: 15px;
}

.list-resto .element-carte .description p {
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 17px;
}

.list-resto .element-carte .nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  padding: .5rem;
  border-radius: 3px;
  position: absolute;
  right: 40px;
  top: 30px;
  font-weight: bold;
  font-family: roboto;
}

.far {
  vertical-align: middle;
  padding: 10px;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.far:hover {
  color: #FF79DA;
  -webkit-transition: 700ms;
  transition: 700ms;
  font-weight: 900;
}

.pied-de-page {
  color: white;
  background-color: #353535;
}

.pied-de-page h3 {
  font-family: shrikhand;
}

.pied-de-page p {
  margin: 5px;
}

.pied-de-page a {
  color: white;
  text-decoration: none;
  font-family: roboto;
}

.pied-de-page :hover
.fas {
  margin-right: 10px;
}

.pied-de-page .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
}

.background-chargement {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fadeOut 0.5s 2s forwards;
  animation: fadeOut 0.5s 2s forwards;
}

.chargement {
  /*Creation du loader*/
  border: 10px solid #f3f3f3;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 15;
  -webkit-animation: spin 2s linear infinite, fadeOut 0.5s 2s forwards;
  animation: spin 2s linear infinite, fadeOut 0.5s 2s forwards;
  /* placement loader au milieux de la page*/
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*animation du loader*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (min-width: 769px) {
  .list-resto #conteneur-restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pied-de-page .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */