#conteneur 
{
    margin: 0 auto;
}
.blockicone
{
    position:absolute;
    bottom: 10px;
}
a:link {
    text-decoration: none;
}

#hebergement {
    color:#0065FC;
    border-top: #0065FC 1px solid;
}

.logo-reservia 
{
    max-width: 100%;
    max-height: 40px;
    width: auto;
    padding-left: 35px;
}
.rechercher
{
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    border: none;
   
    padding: 5px;
    cursor: pointer;
}
.recherche{
    border: 1px solid #F2F2F2;
    padding: 10px;

}
.maps
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: lightgray;
    border-radius: 10px 0px 0px 10px;

}
.logo-button {
    border-radius: 20px;
    border: #DEEBFF 1px solid;
    padding: 8px;
    background-color: #DEEBFF;
    left: 13px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

.button 
{
    position: relative;
    background-color: white;
    border-radius: 20px;
    font-family:'Raleway' ;
    padding: 8px;
    padding-left: 40px;
    
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 4px solid #F2F2F2;
    font-weight: bold;
    ;
}

.button1:hover {
    background-color: #0065FC;
    color: white;
}

.element1-img {
    flex-grow: 10;
}
#inscription
{
    color:#0065FC ;
}
.icone {
    color: #0065FC;
}

.premier-p 
{
    padding-left: 20px;
}

#conteneur-header a:hover {
    color:#0065FC;
    border-top: #0065FC 1px solid;
}

#titre-hebergement 
{
    margin-bottom: 20px;
}

#conteneur2 {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
}

.element {
    box-shadow: 0 0 16px #0000002e;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    flex: 1 0 30%;
    max-width: 30%;
    object-fit: cover;
    object-position: center;
    height: 200px;
}
.conteneur-element
{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.paragraphe-hebergement
{
    margin: 0;
    padding-left: 10px;
    flex: 1;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergement {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-hebergement-conteneur
{
    flex-grow: 3;
    flex-basis: 0;
    min-height: 0;
}

#conteneur-hebergement {
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 35px;
    flex-grow: 2;
    flex-basis: 0;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icone-plein
{
    color:#0065FC ;
}
.icone-vide
{
    color: lightgray;
}
#infologo
{
    padding : 5px 10px;
    border-radius: 100%;
    color: #0065FC;
    border: solid 1px lightgray;
}
.icone6
{
    float: right;
}
#conteneur-populaires {
    border: #F2F2F2 1px solid;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 35px;
    flex-grow: 1;
    flex-basis: 0;
    ;
}
#conteneur3
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    flex-direction: column;
}
.trouver-hebergement
{
    padding-left: 35px;
}
.texte1
{
    margin-top: 5px;
    margin-bottom: 5px;
}
img {
    width: 100%;
    height: auto;
}
.populaires 
{
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    border-radius: 20px 0 0 20px;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.element-populaire 
{
    
    height: 100%;
    margin: 10px auto 25px auto;
    padding: 5px;
    background-color: white;
    border-radius: 30px;
    width: 100%;
    display: flex;
    height: 127px;
}

.texte-populaire {
    flex: 1;
    flex-grow: 2;
    margin-left: 10px;
    position: relative;
}

.elem {
    display: flex;
    max-width: 100%;
}

#conteneur-parent {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
}

body 
{
    font-family: 'Raleway', sans-serif;
}
.element1 
{
    flex-grow: 1;
    max-width: 9%;
    padding: 30px 10px;
    text-align: center;
}
#conteneur-header 
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
h1 
{
    margin: 0;
}
a 
{
    color: black;
}

#conteneur-activites 
{
    margin-bottom: 40px;
}
.element-activites
 {
    flex: auto;
    margin: 10px;
    padding: 0px;
    border-radius: 30px;
    box-shadow: 3px 5px 3px #F2F2F2;
}
.image-activite {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image-port
{
    height: 430px;
}
.image-fort
{
    height: 200px;
}
.image-frioul
{
    height: 155px;
}
.image-calanques
{
    height: 430px;
}
.image-notredame
{
    height: 150px;
}
.image-longchamp
{
    height: 205px;
}

.row-activite p {
    font-weight: bold;
}

.row-activite 
{
    display: flex;
    flex-direction:column;
    flex: 1;
    justify-content: space-between;
}
.souselement-activites
{
   flex: 0;
   margin: 10px;
   padding: 0px;
   border-radius: 30px;
   box-shadow: 3px 5px 3px #F2F2F2;
   
}
.paragraphe-activites
{
    padding-left: 25px;
}
.doublecarre
{
    display: flex;
    flex-direction: column;
}
.doublecarre2
{
    display: flex;
    flex-direction: column;
}
#conteneur4 
{
    display: flex;
}
.titreicone 
{
    margin-bottom: 10px;
}
#conteneur-footer {
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 1px 1px 1px 1px;
    border: grey 0px solid;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-left: 0px;
}
h3{
    padding-left:40px ;
}
.activites
{
    margin-left: 20px;
    margin-top: 50px;
}
ul
{
    list-style: none;
}

#conteneur-footer a:hover 
{
    color: blue;
}

.element-footer ul
{
    padding-left: 40px;
}

.element-footer
{
    flex: 1;
}
.conteneur-recherche
{
    display: flex;
    margin: 15px 0px 15px 0px;
}
.bouton
{
    display: flex;
}
.element-apropos
{
    margin-bottom: 10px;
}
.element-apropos a
{
    text-decoration: none;
}
.flitre
{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#loop
{
    display: none;
}
@media screen and (max-width:767px)
{
    h3
    {
        padding: 0px;
    }
    .element-footer ul
    {
        padding-left: 0px;
    }
    body {
        margin : 0;
    }
    #conteneur-header a:hover {
        color:#0065FC;
        border-bottom: #0065FC 3px solid;
        border-top: none;
    }

    #inscription{
        order: 2;
        padding-right: 0px;
    }
    .trouver-hebergement h2
    {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .texte1
    {
        padding-bottom: 20px;
    }
    #conteneur-populaires
    {
        order: 1;
        margin: 0px;
        padding: 20px;
        border-radius: 0px;

    }
    .titreicone
    {
        margin-bottom: 25px;
        margin-top: 10px;
    }
    #hebergement
    {
        order:3;
        padding-bottom: 5px;
        border-bottom: #0065FC 3px solid;
        color:#0065FC;
        border-top: none;
    }
    .img-hebergement-conteneur {
        flex-basis: auto;
    }
    .bloc-etoile {
        margin : 5px 0px;
    }
    .nom-herbergement{
        margin: 5px 0px;
    }
    #activites
    {
        order: 4;
        padding-bottom: 5px;
        border-bottom: lightgray 3px solid;
    }    
    .element1-img {
        padding-left: 15px;
        padding-top: 10px;

    }
    #conteneur-parent
    {
        flex-direction: column;
        margin: 0;
    }
    #conteneur-hebergement
    {
        order: 2;
        margin-right: 0px;
        background-color: white; 
        padding: 20px;
    }
    #conteneur-header
    {
        flex-wrap: wrap;
    }
    .element1
    {
        width: 43%;
        max-width: 43%;
        padding: 20px 10px;
    }
    .bouton
    {
        flex-direction: column;
        
    }
    .button1
    {
        width: fit-content;
        border: 2px solid #F2F2F2;
        width: max-content;
    }
    .element-populaire 
    {
        margin : 0;
        width: 100%;
        margin-bottom: 15px
        
    }
    #conteneur2
    {
        flex-direction: column;
    }
    .element 
    {
        max-width: 100%;
    }
    .populaires
    {
        flex-grow: 1.6;
    }
    .texte-populaire
    {
        margin-left: 20px;
        margin-right: 35px;
        padding-top: 10px;
        font-size: 15px;
    }
    .blockicone
    {
        margin-top: 20px;
    }
    .hebergement
    {
        height: 130px;
    }
    #conteneur4
    {
        flex-direction: column;
    }
    .image-activite
    {
        height: 120px;
    }
    
    #conteneur-footer
    {
        flex-direction: column;
        margin-top: 30px;
    }
    .element-footer
    {
        
        margin-left: 20px;
    }
    .element-apropos
    {
        margin-bottom: 0;

    }
    #conteneur-activites h4 
    {
        padding-left: 15px;
    }
    #conteneur-activites
    {
        padding: 10px;
    }
    .deuxieme-p
    {
        margin-left: 20px;
        margin-top: 15px;
    }
    .flitre
    {
        justify-content: flex-start;
    }
    #infologo
    {
        margin-right: 5px;
        float: left;
    }
    #rechercheloop
    {
        display: none;
    }
    #loop
    {
        display:block;
        padding: 10px;
    }
    .rechercher
    {
        border-radius: 15px 15px 15px 15px;
        position: relative;
        right:10px;
    }
    #row-economique{
        display: flex;
        flex: 1;
    }
    #row-economique button{
        margin-right: 0;
    }
    #icone-famillial {
        padding-left: 4px;
        padding-right: 4px;
    }
    .activites
    {
        margin-top: 0px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) 
{
    #conteneur-parent
    {
        flex-direction: column;
    }
    .hebergement
    {
        max-width: none;
        max-height: none;
    }
    #conteneur-populaires
    {
        margin: 0px;
        border: none;
        border-radius: 0px;
        background-color: white;
    }
    #conteneur-hebergement
    {
        margin: 0px;
        border-radius: 0px;

    }
    .activites
    {
        margin-left: 25px;
    }
    #row-economique
    {
        display: flex;
        
    }
    .flitre
    {
        padding-top: 10px;
    }
    .button
    {
        padding: 4px;
        padding-left: 2rem;
    }
    .bouton
    {
        display: flex;
       
    }
    
    .element1-img {
        flex-grow: 5;
    }

    .element1 {
        max-width: 15%;
    }
    .paragraphe-activites
    {
        height: 30px;
    }
    .image-fort
    {
        height: 190px;
    }

    .image-frioul
    {
        height: 145px;
    }

    .image-longchamp
    {
        height: 195px;
    }

    .image-notredame
    {
        height: 140px;
    }
}
